.booking{
    width: 100%;
    background-color: #ffc221 ;
    color: white;

    padding: 10px;
    
    @media screen and (min-width:768px) {
        padding: 1.5rem;
    }

    h2{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 900;
        text-align: center;
    }
    form{

        label{
            display: block;
            margin-bottom: .8rem;
        }
        input, textarea{
            min-width: 44px;
            min-height: 44px;
            font-family: inherit;
            width: 100%;
            padding: .7rem;
            border: none;
            border-radius: 5px;
            margin-bottom: 1.2rem;
            font-size: .9rem;

            @media screen and (min-width:768px) {
                padding: 1.2rem;
            }
        }

        .information{
            display: grid;
            grid-template-columns: 1fr;
            @media screen and (min-width:768px) {
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }

        .submit-form{
            min-width: 44px;
            min-height: 44px;
            border: none;
            padding: .8rem 1.2rem;
            font-family: inherit;
            font-size: 1rem;
            background-color: #ffc221;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            &:hover{
                background-color: #ffbb00;
            }
        }
    }
}