@import url(./mainContent/explore.scss);
@import url(./mainContent/hero.scss);
@import url(./mainContent/recomendfood.scss);
@import url(./mainContent/detail.scss);
@import url(./mainContent/favoriteResto.scss);
@import url(./mainContent/loading.scss);
@import url(./utils/errorRequest.scss);
@import url(./utils/emptylike.scss);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  main{
    background-color: white;    
  }
}

.body{
  opacity: .5;
}