.like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc221;

    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 0;
    
    font-size: 18px;
    color: white;
    cursor: pointer;

    @media screen and (min-width:768px) {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
    }
}